* {
  font-family: 'Cutive Mono', monospace;
}

.projects-main {
  /* margin-top: 8vh; */
  height: 200vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

.projects-container {
  /* padding: 10vh; */
  height: 150vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 10vh;
  justify-items: center;
  align-items: center;
  color: white;
}

.projects-container h2 {
  font-size: 3.5vh;
}

.recent-projects {
  margin-top: 20vh;
  font-size: 6vh;
  color: white;
  background-image: linear-gradient(
    -225deg,
    #fefefe 0%,
    rgb(64, 138, 208) 29%,
    rgb(6, 70, 99) 67%,
    rgb(236, 179, 101) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
}

.dj-container {
  font-size: 1.7vh;

  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chess-container {
  font-size: 1.7vh;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goosebump-container {
  font-size: 1.7vh;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo-container {
  font-size: 1.7vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screenshot {
  position: relative;
  border: 2px solid rgb(30, 81, 40);
  height: 30vh;
  border-radius: 4px;
  cursor: crosshair;
}

.desc {
  max-width: 500px;
}

.image-container {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.icon {
  height: 7vh;
  z-index: 100;
  margin-top: 1vh;
  cursor: pointer;

  align-self: center;
  justify-self: center;
}

.overlay {
  flex-grow: 1;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.overlay:hover {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  backdrop-filter: grayscale(100%) blur(2px) brightness(50%);
}

.overlay p {
  margin: 0;
}

.icon:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.git {
  font-weight: bold;
  color: red;
}

.net {
  font-weight: bold;
  color: rgb(0, 255, 17);
}
