* {
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-family: 'Cutive Mono', monospace;

  font-size: 4.5vh;
}

.landing-body {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.landing-main {
  width: 40vw;
  height: 30vh;
  font-size: 13vw;
  display: flex;
  flex-direction: column;

  margin-top: 40vh;
  padding: 5px 15px;
  align-self: center;
  color: black;
}

.get-to-know-me {
  font-size: 2.5vh;
  font-family: 'Cutive Mono', monospace;
  color: black;
}

.arrow {
  height: 5vh;
}

@keyframes text-color {
  0% {
    color: rgb(216, 233, 168);
  }
  25% {
    color: rgb(78, 159, 61);
  }
  50% {
    color: rgb(30, 81, 40);
  }
  100% {
    color: rgb(216, 233, 168);
  }
}
@keyframes button-text-color {
  0% {
    color: rgb(250, 88, 182);
  }
  25% {
    color: rgb(122, 11, 192);
  }
  50% {
    color: white;
  }
  100% {
    color: rgb(216, 233, 168);
  }
}

@keyframes border-color {
  0% {
    color: rgb(250, 88, 182);
  }
  25% {
    color: rgb(122, 11, 192);
  }
  50% {
    color: white;
  }
  100% {
    color: rgb(216, 233, 168);
  }
}

@keyframes container-on-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
