.home-body {
  display: grid;
  grid-template-rows: 2fr 8fr;
  font-family: 'Montserrat', sans-serif;

  background: rgb(0, 0, 0);
  background: linear-gradient(207deg, rgb(255, 255, 255) 0%, rgb(155, 152, 152) 100%);

  background-size: contain;
  height: 100vh;
}

.me-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  margin-top: 12vh;
  font-size: 4vh;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.57);
}

.bio-container {
  margin-right: 2vw;
  width: 26vw;
  min-width: 250px;
  display: flex;
  align-items: flex-start;
}

.bio {
  margin-left: 3vw;
  color: black;
  font-size: 1.7vh;
}

.tech-stack {
  font-size: 2vh;
  line-height: 3vh;
  padding-bottom: 25vh;
  margin-top: 9vh;
  margin-right: 10vw;
  font-weight: bold;
  color: black;
  font-weight: bold;

  /* text-shadow: 1px 1px 2px black; */
}

.tech-stack img {
  margin-left: 1vw;
  height: 4.5vh;
  margin-top: 1vh;
}

.stack-header {
  font-size: 3vh;
  margin-left: 8vw;
  text-align: center;
  font-weight: 600;

  font-family: 'Turret Road', cursive;
  text-decoration: underline;
}

.tech-stack p {
  display: flex;
  align-items: flex-start;
  margin-left: 10vw;
  font-size: 2vh;
  flex-direction: column;
  font-family: 'Turret Road', cursive;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headshot {
  box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  width: 23vw;
  border-radius: 10px;
}

.html {
  display: flex;
  justify-content: center;
}

.python {
  display: flex;
  justify-content: center;
}

.css {
  display: flex;
  justify-content: center;
}
.js {
  display: flex;
  justify-content: center;
}
.react {
  display: flex;
  justify-content: center;
}
.exp {
  display: flex;
  justify-content: center;
}
.sql {
  display: flex;
  justify-content: center;
}
.redux {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .about-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: visible;
    height: auto;
  }
  .home-body {
    height: 170vh;
  }

  .headshot {
    width: 80vw;
  }

  .bio-container {
    width: 80vw;
    margin-bottom: 5vh;
  }

  .tech-stack p {
    font-size: 1.7vh;
  }

  .bio {
    font-size: 1.7vh;
  }
}
